* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: #1b263b;
	background: #24444b;
}

div.container {
	display: flex;
	flex-direction: column;
	align-items: space-between;
	gap: 8px;
	min-width: 350px;
}

.title {
	font-family: "Anta", sans-serif;
  	font-weight: 400;
  	font-style: normal;
  	align-self: center;
  	color: #dad7cd;
  	margin-top: 16px;
}

.filter,
.form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 350px;
	gap: 8px
}

.filter {
	display: none;
}

input#input,
input#filter {
	font-size: 16px;
	border: none;
	border-radius: 8px;
	padding: 8px;
	flex: 1;
	background: #a3b18a;
}

.btn {
	min-width: 40px;
	font-size: 16px;
	color: #e0e1dd;
	border-radius: 8px;
	padding: 8px;
	border: none;
}

.btn.add {
	background: #4f772d;
}

.btn.delete {
	background: #bc4749;
}

.btn.filterOpen,
.btn.filterClose {
	width: 25px;
	background: #588157;
}

.list li {
	max-width: 350px;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	margin-bottom: 10px;
	background: #a3b18a;
	padding: 8px;
	border-radius: 8px;
}

div.footer {
	min-height: 7vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #344e41;
	background: #a3b18a;
}

div.footer a {
	text-decoration: none;
	color: #1b263b;
}